
body {
        background: #EEAECA;
        background: linear-gradient(199deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        font-family: Arial, sans-serif;
        text-align: center;
    }

hr {
        border-style: none;
        border-top-style: dotted;
        border-color: white;
        border-width: 5px;
        width: 10%;
    }

H1, h3 {
        color: white;
        text-align: center;
    }

a   {    
        color: lavender;
        margin-right: 15px;
        text-align: left;
    }

table {
        margin: 0 auto;
        border-collapse: collapse;
        border-radius: 10px;
        padding: 10px;
    }